# dependencies
node_modules/
**/node_modules/

# environment files
.env
.env.*
**/.env
**/.env.*

# Next.js
.next/
**/.next/
out/
**/out/
build/
**/build/

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS/editor
.DS_Store
Thumbs.db
*.swp

# local configs
.vercel/
*.pem
